<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet " href="../static/style.css ">
    <title>Login</title>
</head>

<body>
    <div class="contact ">
        <div class="text ">
            Sign up Form
        </div>

        <form action="/signup" , method="POST">

            <div class="signup ">
                Create a username
            </div>

            <div class="fild ">
                <input type="text " name="username" /required>
                <span class="fa fa-user "></span>
                <label>Email Or Phone</label>
            </div>

            <div class="signup ">
                Create a password
            </div>

            <div class="fild ">
                <input type="password " name="password" /required>
                <span class="fa fa-lock "></span>
                <label>Password</label>
            </div>

            <button>Signup</button>

        </form>
    </div>
</body>

</html>